name: test
on:
  push:
    branches-ignore:
      - "github-actions/**" # ignore github-actions branches
      - "dependabot/**" # ignore dependabot branches
  pull_request: # any pull request against any branch
  workflow_dispatch: # manual trigger
  schedule:
    # ┌───────────── minute (0 - 59)
    # │ ┌───────────── hour (0 - 23)
    # │ │ ┌───────────── day of the month (1 - 31)
    # │ │ │ ┌───────────── month (1 - 12 or JAN-DEC)
    # │ │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
    # │ │ │ │ │
    # * * * * *
    - cron: "0 15 * * *" # every day at 15:00 UTC (7:00 PST, 8:00 PDT)

env:
  TERM: xterm-256color
  DEVELOPER_DIR: /Applications/Xcode_${{ vars.XCODE_VERSION }}.app/Contents/Developer

jobs:
  test:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        test-target: [frameworks, apps, tools]
    timeout-minutes: 30
    runs-on: ${{ vars.MACOS }}
    steps:
      - name: Check out current repository
        uses: actions/checkout@v4
          
      - name: Bootstrap
        uses: ./.github/actions/bootstrap
        with:
          personal-access-token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          artifacts-s3-endpoint: ${{ secrets.ARTIFACTS_S3_ENDPOINT }}
          artifacts-s3-access-key-id: ${{ secrets.ARTIFACTS_S3_ACCESS_KEY_ID }}
          artifacts-s3-secret-access-key: ${{ secrets.ARTIFACTS_S3_SECRET_ACCESS_KEY }}

      - name: Test
        run: |
          cd $BLUEBOX_DIR
          make test-${{ matrix.test-target }}
